pipeline/PL_Invoice_Processing.json
{
	"name": "PL_Invoice_Processing",
	"properties": {
		"activities": [
			{
				"name": "AnalyzeInvoice",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"headers": {
						"Content-Type": "application/json",
						"Ocp-Apim-Subscription-Key": {
							"value": "test",
							"type": "Expression"
						}
					},
					"url": "https://nikhilpdfreader.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-invoice:analyze?api-version=2024-11-30",
					"body": {
						"value": "{\n  \"urlSource\": \"https://gen2storagejune26.blob.core.windows.net/invoice-json/Invoices/Airtel.pdf?sp=r&st=2026-06-25T06:40:01Z&se=2026-06-25T14:55:01Z&spr=https&sv=2026-02-06&sr=b&sig=1ApZd7NFukWnMo97qrBry0pXP3VrxnxmvS5qXT7lHrY%3D\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GetResult",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Wait1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"headers": {
						"Content-Type": "application/json",
						"Ocp-Apim-Subscription-Key": {
							"value": "test",
							"type": "Expression"
						}
					},
					"url": {
						"value": "@activity('AnalyzeInvoice').output.ADFWebActivityResponseHeaders['Operation-Location']",
						"type": "Expression"
					},
					"body": {
						"value": "{\n  \"urlSource\": \"https://gen2storagejune26.blob.core.windows.net/invoice-json/Invoices/Airtel.pdf?sp=r&st=2026-06-25T06:40:01Z&se=2026-06-25T14:55:01Z&spr=https&sv=2026-02-06&sr=b&sig=1ApZd7NFukWnMo97qrBry0pXP3VrxnxmvS5qXT7lHrY%3D\"\n}",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Filter1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_InsertInvoiceMaster_pdf]",
					"storedProcedureParameters": {
						"AmountDue": {
							"value": {
								"value": "@activity('GetResult').output.analyzeResult.documents[0].fields.AmountDue.valueCurrency.amount",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"DueDate": {
							"value": {
								"value": "@activity('GetResult').output.analyzeResult.documents[0].fields.DueDate.valueDate",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"InvoiceDate": {
							"value": {
								"value": "@activity('GetResult').output.analyzeResult.documents[0].fields.InvoiceDate.valueDate",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"InvoiceTotal": {
							"value": {
								"value": "@activity('GetResult').output.analyzeResult.documents[0].fields.InvoiceTotal.valueCurrency.amount",
								"type": "Expression"
							},
							"type": "Decimal"
						},
						"PaymentUrl": {
							"value": {
								"value": "@activity('GetResult').output.analyzeResult.documents[0].fields.PaymentUrl.valueString",
								"type": "Expression"
							},
							"type": "String"
						},
						"RawJson": {
							"value": {
								"value": "@string(activity('GetResult').output)",
								"type": "Expression"
							},
							"type": "String"
						},
						"ServiceEndDate": {
							"value": "@activity('GetResult').output.analyzeResult.documents[0].fields.ServiceEndDate.valueDate",
							"type": "DateTime"
						},
						"ServiceStartDate": {
							"value": "@activity('GetResult').output.analyzeResult.documents[0].fields.ServiceStartDate.valueDate",
							"type": "DateTime"
						},
						"VendorAddress": {
							"value": {
								"value": "@activity('GetResult').output.analyzeResult.documents[0].fields.VendorAddress.content",
								"type": "Expression"
							},
							"type": "String"
						},
						"VendorName": {
							"value": {
								"value": "@activity('GetResult').output.analyzeResult.documents[0].fields.VendorName.valueString",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Filter1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "sp_InsertInvoiceDetail",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_InsertInvoiceDetail_pdf]",
								"storedProcedureParameters": {
									"Amount": {
										"value": {
											"value": "@item().valueObject.Amount.valueCurrency.amount",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"Description": {
										"value": {
											"value": "\n@item().valueObject.Description.valueString",
											"type": "Expression"
										},
										"type": "String"
									},
									"InvoiceId": {
										"value": {
											"value": "@int(activity('Lookup1').output.firstRow.InvoiceId)",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": "SELECT MAX(InvoiceId) AS InvoiceId\nFROM InvoiceMaster_pdf",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "AzureSqlTable2_1",
									"type": "DatasetReference"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "chek",
								"value": {
									"value": "@string(activity('GetResult').output.analyzeResult.documents[0].fields.Items)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Wait1",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "AnalyzeInvoice",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 15
				}
			},
			{
				"name": "Get pdf files",
				"type": "GetMetadata",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Binary1",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "ForEach2",
				"type": "ForEach",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Get pdf files",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get pdf files').output.childItems",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Analyze Invoice",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": "application/json",
									"Ocp-Apim-Subscription-Key": "test"
								},
								"url": {
									"value": "https://nikhilpdfreader.cognitiveservices.azure.com/documentintelligence/documentModels/prebuilt-invoice:analyze?api-version=2024-11-30",
									"type": "Expression"
								},
								"body": {
									"value": "@concat(\n'{\"urlSource\":\"https://gen2storagejune26.blob.core.windows.net/invoice-json/Invoices/',\nitem().name,\n'?sv=2026-02-06&ss=bfqt&srt=co&sp=rwdlacupyx&se=2026-06-25T17:02:26Z&st=2026-06-25T08:47:26Z&spr=https&sig=NKooqsVRvnDEkTfiySZyyIrif7Szd%2Fxyh8oI2KD6xD4%3D\"}'\n)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Get Result",
							"type": "WebActivity",
							"dependsOn": [
								{
									"activity": "Wait2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"Ocp-Apim-Subscription-Key": {
										"value": "test",
										"type": "Expression"
									}
								},
								"url": {
									"value": "@activity('Analyze Invoice').output.ADFWebActivityResponseHeaders['Operation-Location']",
									"type": "Expression"
								},
								"body": {
									"value": "{\n  \"urlSource\": \"https://gen2storagejune26.blob.core.windows.net/invoice-json/Invoices/Airtel.pdf?sp=r&st=2026-06-25T06:40:01Z&se=2026-06-25T14:55:01Z&spr=https&sv=2026-02-06&sr=b&sig=1ApZd7NFukWnMo97qrBry0pXP3VrxnxmvS5qXT7lHrY%3D\"\n}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Wait2",
							"type": "Wait",
							"dependsOn": [
								{
									"activity": "Analyze Invoice",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						},
						{
							"name": "Stored procedure1_copy1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Filter1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[sp_InsertInvoiceMaster_pdf]",
								"storedProcedureParameters": {
									"AmountDue": {
										"value": {
											"value": "@activity('Get Result').output.analyzeResult.documents[0].fields.AmountDue.valueCurrency.amount",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"DueDate": {
										"value": {
											"value": "@activity('Get Result').output.analyzeResult.documents[0].fields.DueDate.valueDate",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"InvoiceDate": {
										"value": {
											"value": "@activity('Get Result').output.analyzeResult.documents[0].fields.InvoiceDate.valueDate",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"InvoiceTotal": {
										"value": {
											"value": "@activity('Get Result').output.analyzeResult.documents[0].fields.InvoiceTotal.valueCurrency.amount",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"PaymentUrl": {
										"value": {
											"value": "@activity('Get Result').output.analyzeResult.documents[0].fields.PaymentUrl.valueString",
											"type": "Expression"
										},
										"type": "String"
									},
									"RawJson": {
										"value": {
											"value": "@string(activity('Get Result').output)",
											"type": "Expression"
										},
										"type": "String"
									},
									"ServiceEndDate": {
										"value": {
											"value": "@activity('Get Result').output.analyzeResult.documents[0].fields.ServiceEndDate.valueDate",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ServiceStartDate": {
										"value": {
											"value": "@activity('Get Result').output.analyzeResult.documents[0].fields.ServiceStartDate.valueDate",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"VendorAddress": {
										"value": {
											"value": "@activity('Get Result').output.analyzeResult.documents[0].fields.VendorAddress.content",
											"type": "Expression"
										},
										"type": "String"
									},
									"VendorName": {
										"value": {
											"value": "@activity('Get Result').output.analyzeResult.documents[0].fields.VendorName.valueString",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Filter1_copy1",
							"type": "Filter",
							"dependsOn": [
								{
									"activity": "Get Result",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Get Result').output.analyzeResult.documents[0].fields.Items.valueArray",
									"type": "Expression"
								},
								"condition": {
									"value": "@contains(string(item().valueObject),'Description')",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "GetResult",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetResult').output.analyzeResult.documents[0].fields.Items.valueArray",
						"type": "Expression"
					},
					"condition": {
						"value": "@contains(string(item().valueObject),'Description')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"InvoiceNumber": {
				"type": "String"
			},
			"chek": {
				"type": "String"
			},
			"OperationLocation": {
				"type": "String"
			}
		},
		"annotations": []
	}
}