pipeline/PL_Incremental_Load_errorhandling.json
{
	"name": "PL_Incremental_Load_errorhandling",
	"properties": {
		"activities": [
			{
				"name": "GetTableName",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT\n    TableName,\n    TargetTableName,\n    LastLoadDate\nFROM Watermark_Table;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2_1",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ittrate_tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "GetTableName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('GetTableName').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy_omprem_to_azure",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n'SELECT * FROM ',\nitem().TableName,\n' WHERE ModifiedDate > ''',\nsubstring(string(item().LastLoadDate),0,19),\n''' AND ModifiedDate < ''',\nformatDateTime(utcNow(),'yyyy-MM-dd HH:mm:ss'),\n''''\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "AzureSqlSink",
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "Sqlonprime",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Azure_incrementalload",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "@item().TargetTableName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ETL_incremental_log",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_omprem_to_azure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[ETL_Log_incremental_load]",
								"storedProcedureParameters": {
									"EndTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ErrorMessage": {
										"value": null,
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsCopied": {
										"value": {
											"value": "@int(activity('Copy_omprem_to_azure').output.rowsCopied)",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"RunStatus": {
										"value": "Success",
										"type": "String"
									},
									"StartTime": {
										"value": "@utcNow()",
										"type": "DateTime"
									},
									"TableName": {
										"value": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"WatermarkDate": {
										"value": "@utcNow()",
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "ETL_incremental_log_Failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy_omprem_to_azure",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[ETL_Log_incremental_load]",
								"storedProcedureParameters": {
									"EndTime": {
										"value": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"ErrorMessage": {
										"value": {
											"value": "@activity('Copy_omprem_to_azure').error.message",
											"type": "Expression"
										},
										"type": "String"
									},
									"PipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"RowsCopied": {
										"value": null,
										"type": "Int32"
									},
									"RunStatus": {
										"value": "Failure",
										"type": "String"
									},
									"StartTime": {
										"value": "@utcNow()",
										"type": "DateTime"
									},
									"TableName": {
										"value": {
											"value": "@item().TableName",
											"type": "Expression"
										},
										"type": "String"
									},
									"WatermarkDate": {
										"value": "@utcNow()",
										"type": "DateTime"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"variables": {
			"Testtablename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}