pipeline/Project_Incremental_sqlserverbase.json
{
	"name": "Project_Incremental_sqlserverbase",
	"properties": {
		"activities": [
			{
				"name": "src_getsqltable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "SELECT TABLE_NAME\nFROM INFORMATION_SCHEMA.TABLES\nWHERE TABLE_NAME in ('Invoice_Source','Account_Source','Inventory_Source')",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Sqlonprime",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "irratetables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "src_getsqltable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('src_getsqltable').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Lookup_Watermark Activity",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@concat(\n'SELECT LastLoadDate FROM Watermark_Table WHERE TableName=''',\nitem().TABLE_NAME,\n''''\n)",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "Sqlonprime",
									"type": "DatasetReference"
								},
								"firstRowOnly": true
							}
						}
					]
				}
			}
		],
		"variables": {
			"tablrnae": {
				"type": "String"
			}
		},
		"annotations": []
	}
}