pipeline/Project_copyerrorlog.json
{
	"name": "Project_copyerrorlog",
	"properties": {
		"activities": [
			{
				"name": "Get FileName",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ClientLandingSource",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ItrrateFilesloop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get FileName').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "GetModelWiseFiles",
							"type": "Switch",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@split(item().name,'_')[0]",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "Invoice",
										"activities": [
											{
												"name": "Copy_InvoiceFiles",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"enableSkipIncompatibleRow": false,
													"validateDataConsistency": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "InvoiceID",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "InvoiceID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "CustomerID",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "CustomerID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "InvoiceDate",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "InvoiceDate",
																	"type": "Date",
																	"physicalType": "date"
																}
															},
															{
																"source": {
																	"name": "Amount",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Amount",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "Status",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Status",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "src_switchinvoicecopywithparamter",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "AzureSqlTable1",
														"type": "DatasetReference",
														"parameters": {
															"SchemaName": {
																"value": "dbo",
																"type": "Expression"
															},
															"TableName": {
																"value": "Invoicemaster",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Sp_Invociemaster_Success",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy_InvoiceFiles",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[sp_ETL_Log]",
													"storedProcedureParameters": {
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@item().name",
																"type": "Expression"
															},
															"type": "String"
														},
														"ModuleName": {
															"value": "Invoice",
															"type": "String"
														},
														"RecordsProcessed": {
															"value": {
																"value": "@activity('Copy_InvoiceFiles').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"Status": {
															"value": "Success",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSqlDatabase1",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Sp_Invociemaster_Faillog",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy_InvoiceFiles",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[sp_ETL_Log]",
													"storedProcedureParameters": {
														"ErrorMessage": {
															"value": {
																"value": "@activity('Copy_InvoiceFiles').error.message",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@item().name",
																"type": "Expression"
															},
															"type": "String"
														},
														"ModuleName": {
															"value": "Invoice",
															"type": "String"
														},
														"RecordsProcessed": {
															"value": {
																"value": "@activity('Copy_InvoiceFiles').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"Status": {
															"value": "Failed",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSqlDatabase1",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Invoice_Copy_to_archive",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Sp_Invociemaster_Success",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_Binary_File",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_Binary_Archive",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Delete_Original_Invoice_Files",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Invoice_Copy_to_archive",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_Binary_File",
														"type": "DatasetReference",
														"parameters": {
															"Filename": "@item().name"
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": false,
														"enablePartitionDiscovery": false
													}
												}
											},
											{
												"name": "Invoice_Copy_to_Error",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Sp_Invociemaster_Faillog",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_Binary_File",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_Binary_Archive",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Delete_currept_Invoice_Files",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Invoice_Copy_to_Error",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_Binary_File",
														"type": "DatasetReference",
														"parameters": {
															"Filename": "@item().name"
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": false,
														"enablePartitionDiscovery": false
													}
												}
											}
										]
									},
									{
										"value": "Inventory",
										"activities": [
											{
												"name": "SP_Invenory_successlog",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy_InventoryFiles",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[sp_ETL_Log]",
													"storedProcedureParameters": {
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@item().name",
																"type": "Expression"
															},
															"type": "String"
														},
														"ModuleName": {
															"value": "Inventory",
															"type": "String"
														},
														"RecordsProcessed": {
															"value": {
																"value": "@activity('Copy_InventoryFiles').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"Status": {
															"value": "Success",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSqlDatabase1",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Copy_InventoryFiles",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false,
														"disableMetricsCollection": false
													},
													"enableStaging": false,
													"enableSkipIncompatibleRow": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "ProductID",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "ProductID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "ProductName",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "ProductName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Category",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Category",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "Quantity",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Quantity",
																	"type": "Int32",
																	"physicalType": "int"
																}
															},
															{
																"source": {
																	"name": "Warehouse",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Warehouse",
																	"type": "String",
																	"physicalType": "varchar"
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "src_switchinvoicecopywithparamter",
														"type": "DatasetReference",
														"parameters": {
															"Filename": "@item().name"
														}
													}
												],
												"outputs": [
													{
														"referenceName": "AzureSqlTable1",
														"type": "DatasetReference",
														"parameters": {
															"SchemaName": "dbo",
															"TableName": "Inventorymaster"
														}
													}
												]
											},
											{
												"name": "SP_Invenory_Failurelog",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy_InventoryFiles",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[sp_ETL_Log]",
													"storedProcedureParameters": {
														"ErrorMessage": {
															"value": {
																"value": "@activity('Copy_InventoryFiles').error.message",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@item().name",
																"type": "Expression"
															},
															"type": "String"
														},
														"ModuleName": {
															"value": "Inventory",
															"type": "String"
														},
														"RecordsProcessed": {
															"value": {
																"value": "@activity('Copy_InventoryFiles').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"Status": {
															"value": "Failed",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSqlDatabase1",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Invenory_Copy_to_archive",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "SP_Invenory_successlog",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_Binary_File",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_Binary_Archive",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Delete_Original_Invenory_Files",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Invenory_Copy_to_archive",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_Binary_File",
														"type": "DatasetReference",
														"parameters": {
															"Filename": "@item().name"
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": false,
														"enablePartitionDiscovery": false
													}
												}
											},
											{
												"name": "Invenory_Copy_to_Error",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "SP_Invenory_Failurelog",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_Binary_File",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_Binary_Archive",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Delete_currept_Invenory_Files",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Invenory_Copy_to_Error",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_Binary_File",
														"type": "DatasetReference",
														"parameters": {
															"Filename": "@item().name"
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": false,
														"enablePartitionDiscovery": false
													}
												}
											}
										]
									},
									{
										"value": "Accounts",
										"activities": [
											{
												"name": "Sp_AccountFilessuccesslog",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy_Accountfiles",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[sp_ETL_Log]",
													"storedProcedureParameters": {
														"ErrorMessage": {
															"value": null,
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@item().name",
																"type": "Expression"
															},
															"type": "String"
														},
														"ModuleName": {
															"value": "Account",
															"type": "String"
														},
														"RecordsProcessed": {
															"value": {
																"value": "@activity('Copy_AccountFiles').output.rowsCopied",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"Status": {
															"value": "Success",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSqlDatabase1",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "sp_AccountFilesFailurelog",
												"type": "SqlServerStoredProcedure",
												"dependsOn": [
													{
														"activity": "Copy_Accountfiles",
														"dependencyConditions": [
															"Failed"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"storedProcedureName": "[dbo].[sp_ETL_Log]",
													"storedProcedureParameters": {
														"ErrorMessage": {
															"value": {
																"value": "@activity('Copy_AccountFiles').error.message",
																"type": "Expression"
															},
															"type": "String"
														},
														"FileName": {
															"value": {
																"value": "@item().name",
																"type": "Expression"
															},
															"type": "String"
														},
														"ModuleName": {
															"value": "Account",
															"type": "String"
														},
														"RecordsProcessed": {
															"value": {
																"value": "@activity('Copy_AccountFiles').output.rowsRead",
																"type": "Expression"
															},
															"type": "Int32"
														},
														"Status": {
															"value": "Failed",
															"type": "String"
														}
													}
												},
												"linkedServiceName": {
													"referenceName": "AzureSqlDatabase1",
													"type": "LinkedServiceReference"
												}
											},
											{
												"name": "Copy_Accountfiles",
												"type": "Copy",
												"dependsOn": [],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "DelimitedTextSource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"enablePartitionDiscovery": false
														},
														"formatSettings": {
															"type": "DelimitedTextReadSettings"
														}
													},
													"sink": {
														"type": "AzureSqlSink",
														"writeBehavior": "insert",
														"sqlWriterUseTableLock": false
													},
													"enableStaging": false,
													"enableSkipIncompatibleRow": false,
													"translator": {
														"type": "TabularTranslator",
														"mappings": [
															{
																"source": {
																	"name": "AccountID",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "AccountID",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "AccountName",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "AccountName",
																	"type": "String",
																	"physicalType": "varchar"
																}
															},
															{
																"source": {
																	"name": "TransactionDate",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "TransactionDate",
																	"type": "Date",
																	"physicalType": "date"
																}
															},
															{
																"source": {
																	"name": "Debit",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Debit",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															},
															{
																"source": {
																	"name": "Credit",
																	"type": "String",
																	"physicalType": "String"
																},
																"sink": {
																	"name": "Credit",
																	"type": "Decimal",
																	"physicalType": "decimal",
																	"scale": 2,
																	"precision": 18
																}
															}
														],
														"typeConversion": true,
														"typeConversionSettings": {
															"allowDataTruncation": true,
															"treatBooleanAsNumber": false
														}
													}
												},
												"inputs": [
													{
														"referenceName": "src_switchinvoicecopywithparamter",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "AzureSqlTable1",
														"type": "DatasetReference",
														"parameters": {
															"SchemaName": "dbo",
															"TableName": "Accountsmaster"
														}
													}
												]
											},
											{
												"name": "Account_Copy_to_archive",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "Sp_AccountFilessuccesslog",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_Binary_File",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_Binary_Archive",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Delete_Original_Account_Files",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Account_Copy_to_archive",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_Binary_File",
														"type": "DatasetReference",
														"parameters": {
															"Filename": "@item().name"
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": false,
														"enablePartitionDiscovery": false
													}
												}
											},
											{
												"name": "Account_Copy_to_Error",
												"type": "Copy",
												"dependsOn": [
													{
														"activity": "sp_AccountFilesFailurelog",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"source": {
														"type": "BinarySource",
														"storeSettings": {
															"type": "AzureBlobFSReadSettings",
															"recursive": true,
															"deleteFilesAfterCompletion": false
														},
														"formatSettings": {
															"type": "BinaryReadSettings"
														}
													},
													"sink": {
														"type": "BinarySink",
														"storeSettings": {
															"type": "AzureBlobFSWriteSettings"
														}
													},
													"enableStaging": false
												},
												"inputs": [
													{
														"referenceName": "DS_Binary_File",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												],
												"outputs": [
													{
														"referenceName": "DS_Binary_Archive",
														"type": "DatasetReference",
														"parameters": {
															"Filename": {
																"value": "@item().name",
																"type": "Expression"
															}
														}
													}
												]
											},
											{
												"name": "Delete_currept_Account_Files",
												"type": "Delete",
												"dependsOn": [
													{
														"activity": "Account_Copy_to_Error",
														"dependencyConditions": [
															"Succeeded"
														]
													}
												],
												"policy": {
													"timeout": "0.12:00:00",
													"retry": 0,
													"retryIntervalInSeconds": 30,
													"secureOutput": false,
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"dataset": {
														"referenceName": "DS_Binary_File",
														"type": "DatasetReference",
														"parameters": {
															"Filename": "@item().name"
														}
													},
													"enableLogging": false,
													"storeSettings": {
														"type": "AzureBlobFSReadSettings",
														"recursive": false,
														"enablePartitionDiscovery": false
													}
												}
											}
										]
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"FileName": {
				"type": "String"
			},
			"Result": {
				"type": "String"
			},
			"ModuleName": {
				"type": "String"
			},
			"Successfilename": {
				"type": "String"
			}
		},
		"annotations": []
	}
}